<div >
  <nav class="col-mg-12">
    <div class="logo">
        <img src="../../assets/imgs/logo-big.jpeg" class="avatar" alt="Imagen">
      </div>
      <div class="nav-links">
        <a routerLink="/movies-all">Películas</a>
        <a routerLink="/series">Series de TV</a>
        <a routerLink="/genero">Género</a>
        <a routerLink="/ano">Año</a>
        <a routerLink="/top">Top</a>
        <a routerLink="/iniciar-sesion" class="login-button" (click)="login()">Iniciar Sesión</a>
      </div>
  </nav>
  <hr class="separator-line">
</div>