.title{
    margin-top: 35px;
    color:#ccc;
    text-align: start;
  }

  .cartelera-horizontal {
      display: flex;
      overflow-x: auto;
      gap: 10px;
  }
  
  .cartelera-item {
    flex: 0 0 auto;
    width: 150px;
    height: 330px;
    border: 1px solid #ccc;
    color: #ccc;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .cartelera-item img {
    margin-top: auto;
    margin-bottom: 5px;

  }

  .flecha {
    font-size: 28px;
    color:#ccc;
  }

  .votacion {
    display: flex;
    align-items: center;
  }
  
  .votacion .numStar {
    font-size: 90%; 
    margin-top: -3px;
  }

  .votacion .star {
    color:rgb(218, 184, 47);
    font-size: 95%;
    margin-top: 5px;
    margin-right: 5px;
  }